{{ if isset .Site.Params "clients" }}
{{ if .Site.Params.clients.enable }}
{{ if gt (len .Site.Data.clients) 0 }}
<section class="bar background-white no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.clients.title | markdownify }}</h2>
                </div>

                <p class="lead">
                  {{ .Site.Params.clients.subtitle | markdownify }}
                </p>


<div class="container">
<center>
           {{ range .Site.Data.clients }}


                        {{ if .url }}
                          <a href="{{ .url }}" target="_blank">
                            <img src="{{ .image }}" alt="{{ .name }}"  style=" max-height: 200px;" />
                          </a>
                        {{ else }}
                          <img src="{{ .image }}" alt="{{ .name }}"  style=" max-height: 200px;"/>
                        {{ end }}

                    {{ end }}


</center>

</div>




            </div>
        </div>

</section>
{{ end }}
{{ end }}
{{ end }}
