
  font-size: 16px;
}

p {
  font-size: 16px;
}

.customers .item img {
  display: inline-block;
  filter: none !important;
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.jumbotron {
    background: url('../img/imagem-fundo.jpeg') center center repeat;
}
